/* Write your CSS code here */

.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-image {
  height: 100px;
  width: 100px;
}

.name {
  font-family: Roboto;
  font-weight: 550;
  font-size: 20px;
}

.designation {
  color: #616e7c;
}
